    
footer {
    background-color: $clr-footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    color: #DFE0DF;
}

    .redes {
        display: flex;
        flex-flow: column;
    }

footer address {
    text-align: end;
}

